<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0">

    <title>Error!</title>
    <link rel="stylesheet" href="../stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" href="../stylesheets/bootstrap-icons.css" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

    <script src="../javascripts/jquery.min.js"></script>
    <script src="../javascripts/jquery.scrollTo.min.js"></script>
    <script src="../javascripts/TOC.js"></script>
  </head>
  <body>
    <header class="container-fluid bg-primary text-white">
      <nav class="navbar navbar-expand-xl">
        <div class="container-xl">
          <a class="navbar-brand">
            <img src="/favicon.ico" height="36" />
          </a>
          <button class="navbar-toggler float-xl-end" type="button" data-bs-toggle="collapse" data-bs-target="#nav">
            <i class="bi bi-list"></i>
          </button>
          <div class="collapse navbar-collapse" id="nav">
            <ul class="navbar-nav container-fluid">
              <li class="nav-item">
                <a class="nav-link text-white" href="/" target="_self"><i class="bi bi-house-door pe-1"></i>Home</a>
              </li>
              <li class="nav-item me-xl-auto">
                <a class="nav-link text-white" href="#" target="_self"><i class="bi bi-person pe-1"></i>About</a>
              </li>
              <hr class="d-xl-none text-white" />
              <li class="nav-item">
                <a class="nav-link text-white" href="https://guleixibian2009.github.io/"><i class="bi bi-globe pe-1"></i>My website</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-warning" href="https://github.com/guleixibian2009/learning-nodejs/"><i class="bi bi-github pe-1"></i><strong>Fork this repo on GitHub!</strong></a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main class="container py-4">
      <h1>Oh no, an error here... 
        <small class="text-muted">You got a <%= error.status %>.</small>
      </h1>
      <p>Error message is: </p>
      <pre class="p-4 my-4 bg-light rounded rounded-3 border border-0"><%= message %></pre>
      <p>Error occured at:</p>
      <pre class="p-4 my-4 bg-light rounded rounded-3 border border-0"><%= error.stack %></pre>
    </main>
    <script src="../javascripts/bootstrap.bundle.min.js"></script>
  </body>
</html>


